html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/gameBackground.png');
}

body.intro {
  background: #FFD789;
}

canvas {
  display: block;
}
